body {
    margin: 0;
    padding: 0;
    color: #ff4d4d;
    font-family: 'Luckiest Guy', cursive;
    background: url("https://img.goodfon.com/wallpaper/nbig/4/b5/firewatch-campo-santo-kholmy-les-peizazh-igra-gory-pozharnyi.webp") 
        no-repeat center center fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.index-btn {
    position: absolute;
    top: 20px;
    left: 20px;
    background: #ff1a1a;
    border: none;
    padding: 10px 20px;
    color: white;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0 0 10px #ff0000;
    transition: 0.2s;
}

.index-btn:hover {
    background: #cc0000;
}

h1 {
    margin-top: 70px;
    font-size: 40px;
    color: #ff3333;
    text-shadow: 0 0 20px #ff0000;
}

.game-info {
    text-align: center;
    margin-bottom: 20px;
}

.score {
    font-size: 24px;
    margin-bottom: 10px;
    color: white;
}

button {
    padding: 10px 20px;
    background: #ff1a1a;
    border: none;
    color: white;
    font-weight: bold;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.2s;
}

button:hover {
    background: #cc0000;
    box-shadow: 0 0 10px #ff0000;
}

.grid {
    width: 90vw;
    max-width: 320px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 12px;
    margin-bottom: 40px;
}

.hole {
    width: 100%;
    aspect-ratio: 1 / 1;
    background: #76da78;
    border: 2px solid #ffffff;
    border-radius: 12px;
    position: relative;
    cursor: pointer;
    box-shadow: 0 0 10px #000000;
}

.mole {
    width: 100%;
    height: 100%;
    background: url(https://cdn-icons-png.freepik.com/256/15142/15142958.png?semt=ais_white_label)
        no-repeat center center;
    background-size: cover;
    cursor: pointer;
}

#game-over-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90vw;
    max-width: 320px;
    display: none;
    z-index: 1000;
}

.popup-box {
    background: #111;
    padding: 30px 20px;
    border: 2px solid #ffffff;
    border-radius: 12px;
    text-align: center;
    box-shadow: 0 0 25px #ff3838;
}

.popup-box h2 {
    color: #ffffff;
    margin-bottom: 15px;
}

.home-body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-container {
    background: #000000;
    padding: 40px 60px;
    border: 2px solid #ffffff;
    border-radius: 15px;
    box-shadow: 0 0 25px #ff0000;
    text-align: center;
}

.home-title {
    color: #f9f9f9;
    font-size: 40px;
    margin-bottom: 30px;
    text-shadow: 0 0 20px #1d57f7;
}

.menu-buttons button {
    display: block;
    width: 200px;
    margin: 10px auto;
    font-weight: bold;
    border-radius: 8px;
}
